body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  color: #212121;
  font-weight: 700;
  margin-top: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

p {
  margin: 0;
}

textarea {
  resize: none;
}

/* PLACEHOLDERS */
.contacts-icon, .contacts {
  color: #757575;
  fill: #757575;
  vertical-align: middle;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category-button, .primary-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

/* CLASSES HELPERS */
/* Hides elements */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.centered {
  text-align: center;
}

/* Animation */
@-webkit-keyframes currentPage {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes currentPage {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
/* FOR IMAGES */
.specialization-type-item img,
.team-flex-card img,
.flex-card img {
  width: 100%;
}

/* Logo */
.logo {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-piece {
  color: #2196F3;
}

/* Contacts */
.contacts:hover, .contacts:focus {
  color: #2196F3;
  fill: #2196F3;
}

.contacts-icon {
  fill: inherit;
  margin-right: 10px;
  margin-top: -2px;
}

/* Sections */
.section-title {
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

/* Main Container */
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}
.container.team, .container.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 0;
}

/* TITLES */
.primary-uppercase-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join .primary-uppercase-title,
.sign-up .primary-uppercase-title {
  color: #FFFFFF;
  margin-bottom: 20px;
}

/* Social-networks */
.flex-list.social-networks {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-icon {
  fill: inherit;
  width: 20px;
  height: 20px;
}

.social-networks .social-network:hover, .social-networks .social-network:focus,
.join .social-network:hover,
.join .social-network:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

/* button styles */
.primary-button {
  color: #FFFFFF;
  background-color: #2196F3;
  border-color: #2196F3;
  min-width: 200px;
  min-height: 50px;
  -webkit-transition: background-color 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.primary-button:hover, .primary-button:focus {
  background-color: #188CE8;
}

.hero .primary-button {
  min-width: 216px;
}

.form .primary-button {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.sign-up-block .primary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
}

/* BUTTONS FOR PORTFOLIO */
.category-button {
  color: #212121;
  background-color: #F5F4FA;
  border-color: #F5F4FA;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.category-button.selected, .category-button:hover, .category-button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  border: #2196F3;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ececec;
  z-index: 1;
}
.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 0;
}

.header-contacts {
  margin-left: auto;
}
.header-contacts .contacts:not(:first-child) {
  margin-left: 50px;
}

/* Site nav */
.nav-list-item {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-item:not(:first-child) {
  margin-left: 50px;
}

.nav-list-item.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border: 1px solid #2196F3;
  border-radius: 5px;
  -webkit-animation: currentPage 250ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: currentPage 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link {
  color: #212121;
}
.nav-link:focus {
  color: #2196F3;
}

.nav-list-item.current .nav-link, .nav-list-item:hover .nav-link {
  color: #2196F3;
}

/* Footer */
.footer-section-bg {
  background-color: #2F303A;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  --primary-text-color: rgba(255, 255, 255, 0.6);
  color: #757575;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0;
}

.footer .logo {
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 20px;
}

.address {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}
.address .contacts {
  display: block;
  margin-top: 9px;
}

.join {
  margin-left: -10px;
  min-height: 86px;
}
.join .social-network {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 550px;
  background-color: #FFFFFF;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  fill: #000000;
  background-color: #FFFFFF;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.close-modal-button:hover {
  fill: #2196F3;
}

.close-icon {
  fill: inherit;
}

.form {
  padding: 40px;
}

.form-caption {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  letter-spacing: 0.01em;
}
.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  margin-top: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #2196F3;
  outline: none;
}
.form-input::-webkit-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input::-moz-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input:-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input::-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input.comment {
  height: 96px;
  padding: 12px 16px;
}

.form-icon {
  position: absolute;
  left: 12px;
  bottom: 10px;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .form-icon {
  fill: #2196F3;
}

.form-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 20px 12px 30px;
}

.checkbox-text {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  margin-left: 22px;
}
.checkbox-text a {
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196F3;
}

.checkbox-icon {
  position: absolute;
  left: 0;
  top: 15%;
  width: 16px;
  height: 15px;
  fill: none;
  border: 2px solid #212121;
  border-radius: 2px;
  margin: 0;
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: #2196F3;
  fill: #FFFFFF;
  stroke: #FFFFFF;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.icon-check-on {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

/* FOOTER FORM */
.sign-up-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 12px;
}

.email-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  color: #FFFFFF;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email-input:focus {
  outline: none;
  border-color: #2196F3;
}
.email-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.email-input::-moz-placeholder {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.email-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.email-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.email-input::placeholder {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.icon-sign-up {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* Hero */
.hero-section-bg {
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/studio-page/hero-bg-image.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio-page/hero-bg-image.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  /* margin-left: auto;
  margin-right: auto;
  max-width: 1600px; */
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* Features */
.features-item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-item .icon-box {
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features-item .icon-box .icon {
  width: 70px;
  height: 70px;
}
.features-item .primary-uppercase-title {
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

/* What do we do */
.specialization-type-item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  max-width: 100%;
}
.specialization-type-item:not(:last-child) {
  margin-right: 30px;
}

.primary-uppercase-title.specialization {
  position: absolute;
  bottom: 4px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Our team */
.team-section-bg {
  background-color: #F5F4FA;
}

.team-member {
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}
.team-member.name {
  font-weight: 500;
  margin-bottom: 10px;
}

.team-flex-card {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  background: #FFFFFF;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.team-flex-card:not(:last-child) {
  margin-right: 30px;
}

.team-flex-card-description {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Regular clients */
.clients .flex-list {
  gap: 30px;
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
  max-width: 170px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client:hover, .client:focus {
  fill: #2196F3;
  border-color: #2196F3;
}

.client-icon {
  fill: inherit;
  width: 106px;
  height: 60px;
}

/* FOR PORTFOLIO */
.container.portfolio {
  margin-top: 94px;
}
.container.portfolio .flex-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container.portfolio .flex-list.cards {
  gap: 30px;
}

.filters {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-card {
  width: calc((100% - 60px) / 3);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-card:hover {
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.flex-card-top {
  position: relative;
  overflow: hidden;
}
.flex-card-top img {
  display: block;
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.flex-card:hover .project-description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.flex-card-description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-item-link {
  color: #757575;
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-item-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */