:root{
    --title-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --additional-color: #F5F4FA;
    --additional-bg-color: #2F303A;
    --white-color: #FFFFFF;
    --primary-footer-text-color: rgba(255, 255, 255, 0.6);
    --icons-primary-color: #AFB1B8;

    --primary-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Animation */

@keyframes currentPage {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }

    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}


body {
    background-color: var(--white-color);
    color: var(--primary-text-color);

    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1, h2, h3{
    color:var(--title-color);
    font-weight: 700;
    margin-top: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

p {
    margin: 0;
}

.flex-list {
    list-style: none;

    display: flex;

    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.primary-uppercase-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* Hides elements */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* FOR IMAGES */

.specialization-type-item img,
.team-flex-card img,
.flex-card img{
    width: 100%;
}

/* Header */

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;

    background-color: var(--white-color);
    border-bottom: 1px solid #ececec;

    z-index: 1;
}

.header > .container{
    display: flex;
    align-items: center;

    margin-bottom: 0;  
}

.header-contacts{
    margin-left: auto;
}

.header-contacts .contacts:not(:first-child) {
    margin-left: 50px;
}

/* Logo */

.logo{
    color: var(--title-color);

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;

    margin-right: 93px;
}

.logo-piece{
    color: var(--accent-color);
}

/* Site nav */

.nav-list-item {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms 
    var(--primary-transition-timing-function);
}

.nav-list-item.current::after {
    content: "";

    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 4px;
    
    background-color: var(--accent-color);

    border: 1px solid var(--accent-color);
    border-radius: 5px;

    
    animation: currentPage 250ms 
    var(--primary-transition-timing-function);
}

.nav-list-item:not(:first-child) {
    margin-left: 50px;
}

.nav-link{
    color:var(--title-color);
}

.nav-list-item:hover .nav-link,
.nav-list-item.current .nav-link,
.nav-link:focus{
    color: var(--accent-color);
}

/* Contacts */

.contacts,
.contacts-icon {
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    
    vertical-align: middle;

    transition: color 250ms 
    var(--primary-transition-timing-function);
}

.contacts:hover,
.contacts:focus{
    color: var(--accent-color);
    fill: var(--accent-color);
}

.contacts-icon{
    fill: inherit;

    margin-right: 10px;
    margin-top: -2px;
}

/* Sections */

.section-title{
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 50px;
}

/* Main Container */

.container {
    max-width: 1200px;

    padding-left: 15px;
    padding-right: 15px;

    margin-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
}

.container.team,
.container.clients {
    padding-top: 94px;
    padding-bottom: 94px;

    margin-bottom: 0;
}

/* Hero */

.hero-section-bg{
    background-color: var(--additional-bg-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url('../images/studio-page/hero-bg-image.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;

    /* margin-left: auto;
    margin-right: auto;
    max-width: 1600px; */
}

.hero {
    text-align: center;

    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    color: var(--white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/* button styles */

.button{
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;

    border-radius: 4px;

    cursor: pointer;
}

.button.primary{
    color:var(--white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);

    min-width: 216px;
    min-height: 50px;
}

/* BUTTONS FOR PORTFOLIO */

.button.category{
    color: var(--title-color);
    background-color: var(--additional-color);
    border-color: var(--additional-color);

    box-shadow: none;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.03em;

    margin-bottom: 50px;

    transition: color 250ms 
    var(--primary-transition-timing-function),
    background-color 250ms 
    var(--primary-transition-timing-function),
    box-shadow 250ms 
    var(--primary-transition-timing-function);
}

.filters-item:not(:last-child) {
    margin-right: 8px;
}

.button.category:hover,
.button.category:focus,
.category.selected {
    color: var(--white-color);
    background-color: var(--accent-color);

    border-radius: 4px;
    border: var(--accent-color);

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 
    0 1px 2px 0 rgba(0, 0, 0, 0.08), 
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

/* Features */

.flex-list .features-item{
    flex-basis: calc((100% - 90px) / 4);
}

/* Аnother way of inserting svg */

/* .features-item::before{
    display: block;
    content: "";

    height: 120px;

    margin-bottom: 30px;
    
    background-color: var(--additional-color);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-group::before {
    background-image: url(../images/studio-page/group.svg);
}

.icon-clock::before {
    background-image: url(../images/studio-page/clock.svg);
}

.icon-diagram::before {
    background-image: url(../images/studio-page/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/studio-page/astronaut.svg);
} */

.features-item .icon-box {
    display: block;
    height: 120px;

    margin-bottom: 30px;

    background-color: var(--additional-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box .icon{
    width: 70px;
    height: 70px;
}


.features-item .primary-uppercase-title{
    margin-bottom: 10px;
}

.features-text{
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
}

.flex-list .features-item:not(:last-child),
.flex-list .specialization-type-item:not(:last-child) {
    margin-right: 30px;
}

/* What do we do */

.specialization-type-item{
    position: relative;
    flex-basis: calc((100% - 60px) / 3);
    max-width: 100%;
}

.primary-uppercase-title.specialization{
    position: absolute;
    bottom: 4px;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 70px;
    
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
}

/* Our team */

.team-section-bg{
    background-color: var(--additional-color);
}

.team-member{
    font-size: 16px;
    letter-spacing: 0.03em;

    text-align: center;
    margin-bottom: 16px;
}

.team-member.name{
    font-weight: 500;
    margin-bottom: 10px;
}

.team-flex-card{
    flex-basis: calc((100% - 90px) / 4);

    background: var(--white-color);
    border-radius: 0 0 4px 4px;

    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team-flex-card:not(:last-child){
    margin-right: 30px;
}

.team-flex-card-description{
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-list.social-networks{
    justify-content: center;
    gap: 10px;
}

.social-network{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    
    border-radius: 50%;
    
    fill:var(--icons-primary-color);

    transition: fill 250ms var(--primary-transition-timing-function),
    background-color 250ms var(--primary-transition-timing-function);
}

.social-network-icon{
    fill: inherit;

    width: 20px;
    height: 20px;
}

.social-network:hover,
.join .social-network:hover,
.social-network:focus,
.join .social-network:focus {
    background-color: var(--accent-color);
    fill: var(--white-color);
}


/* Regular clients */

.clients .flex-list{
    gap: 30px;
}

.client{
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-basis: calc((100% - 150px) / 6);
    max-width: 170px;

    padding: 16px 32px;

    border: 1px solid #afb1b8;
    border-radius: 4px;

    fill: var(--icons-primary-color);

    transition: fill 250ms var(--primary-transition-timing-function),
    background-color 250ms var(--primary-transition-timing-function);
}

.client:hover,
.client:focus{
    fill: var(--accent-color);
    border-color: var(--accent-color);
}

.client-icon{
    fill: inherit;

    width: 106px;
    height: 60px;
}

/* Footer */

.footer-section-bg{
    background-color: var(--additional-bg-color);
}

.footer{
    display: flex;
    align-items: center;

    --primary-text-color: rgba(255, 255, 255, 0.6);
    color: var(--primary-text-color);

    padding-top: 60px;
    padding-bottom: 60px;

    margin-bottom: 0;
}

.footer .logo{
    color: var(--white-color);

    margin-top: 0;
    margin-bottom: 20px;
}

.address{
    color: var(--white-color);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
}

.address .contacts{
    display: block;

    margin-top: 9px;
}

.join{
    margin-left: 70px;
}

.join .primary-uppercase-title,
.sign-up .primary-uppercase-title{
    color: var(--white-color);
    margin-bottom: 20px;
}

.join .social-network{
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-color);
}

.sign-up{
    margin-left: 93px;
}

.sign-up .button{
    min-width: 200px;   

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-sign-up {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

/* Modal window */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;

    transition: opacity 250ms 
    var(--primary-transition-timing-function);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden  .modal{
    transform: translate(-50%, -50%) scale(0.8);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    height: 581px;

    background-color: var(--white-color);

    transform: translate(-50%, -50%) scale(1);

    transition: transform 250ms 
    var(--primary-transition-timing-function);
}

.close-modal-button{
    position: absolute;
    top: 8px;
    right: 8px;
    
    width: 30px;
    height: 30px;

    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
        
    border-radius: 50%;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);

    fill: #000000;
    background-color: var(--white-color);

    transition: fill 250ms var(--primary-transition-timing-function);
}

.close-modal-button:hover{
    fill: var(--accent-color);
}

.close-icon{
    fill: inherit;
}



/* FOR PORTFOLIO */

.container.portfolio {
    margin-top: 94px;
}

.portfolio .flex-list{
    flex-wrap: wrap;
}

.filters{
    justify-content: center;
}

.flex-list.cards {
    gap: 30px;
}

.flex-card{
    width: calc((100% - 60px) / 3);
    /* max-width: 370px; */

    /* margin-bottom: 30px;
    margin-right: 30px; */

    border: 1px solid #eeeeee;

    transition: box-shadow 250ms var(--primary-transition-timing-function);
}

/* .flex-card:nth-child(3n) {
    margin-right: 0px;
}

.flex-card:nth-last-child(-n + 3) {
    margin-bottom: 0px;
} */

.flex-card:hover{
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
    0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.flex-card-top{
    position: relative;
    overflow: hidden;
}

.project-description{
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(100% + 2px);
    height: calc(100% - 3px);
    
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    
    padding: 24px;

    background-color: rgba(33, 150, 243, 0.9);
    color: var(--white-color);

    opacity: 0;
    transform: translateY(100%);

    transition: transform 250ms var(--primary-transition-timing-function),
    opacity 250ms var(--primary-transition-timing-function);
    
    transition-delay: 100ms;
}

.flex-card:hover .project-description {
    opacity: 1;
    transform: translateY(0);
}

.flex-card-description{
    padding: 20px 24px;
}

.portfolio-item-link{
    color: var(--primary-text-color);
}

.portfolio-item-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    
    margin-bottom: 4px;
}

.portfolio-item-type{
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
}
