$color: (
  'title': #212121,
  'primary-text': #757575,
  'accent': #2196f3,
  'button-active': #188ce8,
  'additional': #f5f4fa,
  'additional-bg': #2f303a,
  'white': #ffffff,
  'primary-footer-text': rgba(255, 255, 255, 0.6),
  'icons-primary': #afb1b8,
);

$primary-font-family: 'Roboto', sans-serif;
$logo-font-family: 'Raleway', sans-serif;

$primary-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
